footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}
#notfound{
    font-family: Space Mono;
    font-style: normal;
    font-weight: 700;
    color:#333333;
    margin:1rem;
    display: flex;
    font-size: 01.5em;
}
#scare{
    max-width: 100%;
    width: 500px;
    margin:auto;
    display: flex;
}
.content{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height: 80vh
}
.div-img{
    max-width: 100%;
    margin:auto;
}
.texto{
    margin-right: 5%;
}
.text-1{
    font-family: Space Mono;
    color:#333333;
    font-size: 4.5em;
    margin-left: 30%;
    margin-bottom: 0;
}
.text-2{
    font-family: Space Mono;
    color:#4F4F4F;
    margin-left: 30%;
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 1em;
}
.botao{
    display: flex;
    margin-left: 30%;
}
.button{
    background: #333333;
    line-height: 27px;
    color: white;
    border: none;
    padding: 15px;
    font-family: Space Mono;
    font-weight: bold;
    display: flex;
    align-items: left;
    text-decoration: none;
}
